name: CI
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build & run tests
        run: ./gradlew build --no-daemon

      - name: Upload test report if failed
        if: failure() # Only upload the build report if the previous step failed
        uses: actions/upload-artifact@v5
        with:
          name: Test report
          path: |
            **/build/reports/tests/test/*
            build/reports/tests/test/*
